.TileList {
    box-shadow: 0 4px 10px 0 rgb(0 0 0), 0 4px 20px 0 rgb(0 0 0);

    min-width: 35%;
    /*max-width: 35%;*/

    min-height: 98vh;
    max-height: 98vh;
    /*max-height: 1200px;*/

    margin-top: 1vh;
    margin-bottom: 1vh;

    margin-left: 10px;
    margin-right: 10px;

    float: left;
}