.Tile {
    border-style: outset;
    /*border-color: red;*/
    /*border-width: 10px;*/
    margin-bottom: 5px;

}
.Tile:hover {
    /*background-color: #1681b2;*/
    box-shadow: 0 4px 10px 0 rgb(0 0 0), 0 4px 20px 0 rgb(0 0 0);
}